---
http_interactions:
- request:
    method: post
    uri: https://api.experianaperture.io/address/search/v1
    body:
      encoding: UTF-8
      string: '{"country_iso":"GBR","components":{"unspecified":["WC1B 3DG"]},"location":null,"dataset":null}'
    headers:
      Auth-Token:
      - invalid-api-token
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cdn:
      - Imperva
      X-Iinfo:
      - 11-33619975-33619984 NNYN CT(2 13 0) RT(1615557094498 18) q(0 0 0 0) r(0 0)
        U6
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"Type":"Address Search Exception","Title":"Authentication
        has been denied for this request.","Detail":"Authentication has been denied
        for this request.","Instance":"Experian.Capture.AddressApi.Service"}}'
  recorded_at: Fri, 12 Mar 2021 13:51:34 GMT
recorded_with: VCR 6.0.0
